@page
@model WebApplication1.Pages.CompteSoigantModel
@{
   
}



@*Je pense faire une sorte de verification peut etre tous mettre dans utilisateur et cree une case droit que l on met a 2 (soignant)
Et a une 1 pour patient comme ca on verifie et on le redirige sur la page CompteSoigant ou CompteMalade*@ 
@*Ici supposons que la verfiication est faite c est un soignant il a ces infos , la liste de ces patient , ...*@
@*Il peut creer sont formulaire*@

<p>Bonjour @ViewData["test"]</p>
<p> @Model.alex.Nom</p>
